<div class="container mt-sm">
  <h2 class="title-lg">
    <%= availiable_questions(@questions).count %>
    <%= inclination(availiable_questions(@questions).count, 'вопрос', 'вопроса', 'вопросов') %>
  </h2>
</div>

<% availiable_questions(@questions.order(created_at: :desc)).each do |question| %>
  <div class="mt-sm container">
    <%= render question %>
  </div>
<% end %>
