<div class="container mt-sm text-center">
  <p>У этого пользователя пока нет вопросов <%= fa_icon 'bomb' %></p>
  <%= link_to 'Спросить' , new_question_path(user_id: user), class: 'button button-main mt' %>
</div>
